<main class="checkout">
  <div class="container">
    <form id="payment-form" class="checkout__wrapper" (submit)="pay($event)" [formGroup]="form">
      <div>
        <section class="checkout__section">
          <h2 class="checkout__subtitle">Datos Personales</h2>
          <div class="checkout__fields">
            <div class="checkout__row" formGroupName="contact">
              <mat-form-field class="checkout__field">
                <mat-label>Nombre Completo</mat-label>
                <input type="text" formControlName="name" matInput />
                @if (getError(form.get('contact.name')); as err) {
                  <mat-error>{{ err }}</mat-error>
                }
              </mat-form-field>
              <mat-form-field class="checkout__field">
                <mat-label>Correo Electronico</mat-label>
                <input
                  type="email"
                  formControlName="email"
                  matInput
                  placeholder="example@example.com"
                />
                @if (getError(form.get('contact.email')); as err) {
                  <mat-error>{{ err }}</mat-error>
                }
              </mat-form-field>
            </div>
            <div class="checkout__row">
              <ng-container formGroupName="contact">
                <mat-form-field class="checkout__field">
                  <mat-label>Telefono</mat-label>
                  <input type="tel" formControlName="phone" matInput placeholder="932 324 242" />
                  @if (getError(form.get('contact.phone')); as err) {
                    <mat-error>{{ err }}</mat-error>
                  }
                </mat-form-field>
              </ng-container>
              <ng-container formGroupName="address">
                <mat-form-field class="checkout__field">
                  <mat-label>Ciudad</mat-label>
                  <input matInput formControlName="city" placeholder="Lima" />
                  @if (getError(form.get('address.city')); as err) {
                    <mat-error>{{ err }}</mat-error>
                  }
                </mat-form-field>
              </ng-container>
            </div>
            <div class="checkout__row" formGroupName="address">
              <mat-form-field class="checkout__field">
                <mat-label>Estado</mat-label>
                <input matInput formControlName="state" placeholder="Lima" />
                @if (getError(form.get('address.state')); as err) {
                  <mat-error>{{ err }}</mat-error>
                }
              </mat-form-field>
              <mat-form-field class="checkout__field">
                <mat-label>Código Postal</mat-label>
                <input
                  matInput
                  formControlName="zipcode"
                  #postalCode
                  maxlength="5"
                  placeholder="94105"
                />
                <mat-hint align="end">{{ postalCode.value.length }} / 5</mat-hint>
                @if (getError(form.get('address.zipcode')); as err) {
                  <mat-error>{{ err }}</mat-error>
                }
              </mat-form-field>
            </div>
            <div class="checkout__row" formGroupName="address">
              <mat-form-field class="checkout__field checkout__field--full">
                <mat-label>Dirección</mat-label>
                <textarea matInput formControlName="address" placeholder="100 Main St"></textarea>
                @if (getError(form.get('address.address')); as err) {
                  <mat-error>{{ err }}</mat-error>
                }
              </mat-form-field>
            </div>
          </div>
        </section>
      </div>
      <div>
        <section class="checkout__section">
          <div class="checkout__detail-payments">
            <h1 class="checkout__title">Checkout</h1>
            <ul class="checkout__details">
              @for (prod of products(); track prod.product.id) {
                <li class="checkout__item item">
                  <img class="item__img" [src]="prod.product.image" [alt]="prod.product.title" />
                  <div class="item__info">
                    <span class="item__name">{{ prod.product.title }}</span>
                    <span class="item__quantity">Cantidad: {{ prod.quantity }}</span>
                  </div>
                  <span class="item__price">{{ prod.product.price | currency }}</span>
                </li>
              } @empty {
                <section class="checkout__empty">
                  <mat-icon>add_shopping_cart</mat-icon>
                  <span class="checkout__empty-text">No tiene ningun producto en su carrito</span>
                </section>
              }
            </ul>
            <div class="checkout__total">
              <span>Total:</span>
              <span>{{ pricetotal() | currency }}</span>
            </div>
          </div>
          <div class="checkout__payments">
            <h2 class="checkout__subtitle">Metodo de Págo</h2>
            <div id="payment-element" class="checkout__payment-element"></div>
            @if (loading()) {
              <mat-spinner></mat-spinner>
            }
            @if (errorMessage()) {
              <p class="checkout__error">{{ errorMessage() }}</p>
            }
            <button id="submit" matButton="filled" class="checkout__submit" [disabled]="loading()">
              {{ loading() ? 'Procesando...' : 'Pagar' }}
            </button>
          </div>
        </section>
      </div>
    </form>
  </div>
</main>
