<div class="pagination" data-testid="pagination-component">
  <button
    class="pagination__btn"
    matMiniFab
    (click)="pageChange.emit(page() - 1)"
    [disabled]="page() === 1"
  >
    <mat-icon>chevron_left</mat-icon>
  </button>
  @for (p of totalPages(); track p) {
    <button
      class="pagination__btn"
      matMiniFab
      (click)="pageChange.emit(p)"
      [class.pagination__btn--active]="page() === p"
    >
      {{ p }}
    </button>
  }
  <button
    class="pagination__btn"
    matMiniFab
    (click)="pageChange.emit(page() + 1)"
    [disabled]="page() === totalPages().length"
  >
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
