.breadcrumb-list {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  &__row {
    display: flex;
    align-items: center;
  }
  &__icon {
    color: var(--secondary);
  }
  &__link {
    font-size: 1rem;
    color: var(--secondary);
    text-decoration: none;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      bottom: -2px;
      width: 0%;
      height: 2px;
      background-color: var(--secondary);
      transition: all 0.4s ease;
    }
    &:hover::before {
      width: 80%;
    }
  }
}
